<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar pessoa</title>
    <link rel="stylesheet" href="style.css">
    <script src="put.js"></script>
</head>

<body>
    <form>
        <h3>Atualizar cadastro</h3><br>
        <label for="id">ID da pessoa:</label>
        <input type="text" name="idAtualizacao" id="idAtualizacao" placeholder="ID">
        <br>
        <label for="nome">Nome:</label>
        <input name="nomeAtualizacao" id="nomeAtualizacao" type="text" placeholder="Nome">
        <br>
        <label for="sobrenome">Sobrenome:</label>
        <input name="sobrenomeAtualizacao" id="sobrenomeAtualizacao" type="text" placeholder="Sobrenome">
        <br>
        <label for="idade">Idade:</label>
        <input name="IdadeAtualizacao" id="idadeAtualizacao" type="text" placeholder="Idade">
        <br>
        <label for="genero">Gênero</label>
        <div>
            <input type="radio" name="generoAtualizacao" id="generoAtualizacao" value="Masculino"> Masculino
            <input type="radio" name="generoAtualizacao" id="generoAtualizacao" value="Feminino"> Feminino
        </div>
        <br>
        <button type="button" onclick="atualizarPessoa()">Atualizar pessoa</button>
        <button type="button"><a href="index.html">Voltar ao início</a></button>
    </form>

</body>

</html>