<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de cadastro</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="getAll.js" defer></script>
</head>

<body>

    <div class="container">
        <button><a href="cadastro.html">Cadastrar Pessoa</a></button><br>
        <button><a href='buscar.html'>Buscar Pessoa</a></button><br>
        <button><a href="remover.html">Remover pessoa</a></button><br>
        <button><a href="atualizar.html">Atualizar Pessoa</a></button><br>

        <div class="box">
            <table id="tabela">
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>Gênero</th>
            </table>
        </div>
    </div>

</body>

</html>