<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover pessoa</title>
    <script src="delete.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <h3>Exclusão de pessoa</h3>
        <br>
        <label for="id">ID:</label>
        <input name="excluirId" type="text" placeholder="ID">
        <button type="button" onclick="removerPessoa()"><a href="index.html">Remover Pessoa</a></button>
    </form>

</body>
</html>